<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>首页</title>


</head>
<body>

这是index首页

<div class="materialContainer">
    <div class="box">
        <div class="title">退出</div>
        <form action="/logout" method="get">
            <div class="button login">
                <button type="submit">
                    <span>注销</span>
                    <i class="fa fa-check"></i>
                </button>
            </div>
        </form>
    </div>

</div>

</body>
</html>